{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% sass_src 'food_tickets/styles/main.scss' %}" type="text/css">
</head>

<body>
    <main class="store">
        <div class="store--name">{{ store.name }}</div>
        <div class="store--genres">
            {% for genre in store.genres.all %}
            <div class="store--genre">{{ genre }}</div>
            {% endfor %}
        </div>
        <div class="store--address">{{ store.address }}</div>
        <div class="store--opening-hours">
            {% for opening_hour in store.opening_hours.all %}
            <div class="store--opening-hour">
                {{ opening_hour.opening_time }} - {{ opening_hour.closing_time }}
            </div>
            {% endfor %}
        </div>
        <div class="store--description">{{ store.description }}</div>
        <div class="store--notice">{{store.notice}}</div>

        <div class="store--tickets">
            <h2>Tickets</h2>
            <div class="ticket-list">
                {% for ticket in store.tickets.all %}
                <div class="ticket">
                    <div class="ticket--name">{{ ticket.name }}</div>
                    <div class="ticket--price">{{ ticket.price }}円</div>
                    <div>
                        <a href="{% url 'food_tickets:ticket_detail' ticket.id %}" class="href">詳細</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>



</body>

</html>
