<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Stores</h1>

    <form action="/users/signout/" method="post">
        {% csrf_token %}
        <input type="submit" value="ログアウト">
    </form>

    <div class="store-list">
        {% for store in store_list %}
        <div class="store">
            <div class="store--name">{{ store.name }}</div>
            <div class="store--genres">
                {% for genre in store.genres.all %}
                <div class="store--genre">{{ genre }}</div>
                {% endfor %}
            </div>
            <div class="store--address">{{ store.address }}</div>
            <div class="store--opening-hours">
                {% for opening_hour in store.opening_hours.all %}
                <div class="store--opening-hour">
                    {{ opening_hour.opening_time }} - {{ opening_hour.closing_time }}
                </div>
                {% endfor %}
            </div>
            <div class="store--name">{{ store.short_description }}</div>
            <div><a href="{% url 'food_tickets:store' store.id %}">詳細</a></div>
        </div>
        {% endfor %}
    </div>

</body>

</html>