{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'javascript/food_tickets/ticketBuy.js' %}"></script>
</head>

<body>
    <h1>食券の購入</h1>
    <div class="ticket--name">{{ticket.name}}</div>
    <div class="ticket--price">{{ticket.price}}円</div>

    <h3>店舗からのお知らせ</h3>
    <div>{{ticket.store.notice}}</div>

    <form method="post">
        {% csrf_token %}
        <script type="text/javascript" src="https://checkout.pay.jp/" class="payjp-button"
            data-key="pk_test_604a905dc4c045cc4c5f08b8" data-submit-text="支払う" data-text="食券を購入する"
            data-on-created="onTokenCreated" data-token-name="payjp_token">
            </script>
    </form>
</body>

</html>
